.footer {
    background: #007bff;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;

    p {
        text-align: center;
    }
}